In [4]:
###Imports
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

from flask import Flask, jsonify, render_template
import numpy as np
import pandas as pd
import datetime as dt
import json

###Sqlite data import

engine = create_engine("sqlite:///DataSets/belly_button_biodiversity.sqlite")
inspector = inspect(engine)
#reflect data into classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

#table references (r)
otu = Base.classes.otu
samples= Base.classes.samples
samples_metadata = Base.classes.samples_metadata
#session link for python to database:
session = Session(engine)

In [11]:
results = session.query(samples).statement
results_df = pd.read_sql_query(results,session.bind)
#print(jsonify(results_df))
results_df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
results_df.columns

Index(['otu_id', 'BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946',
       'BB_947', 'BB_948', 'BB_949',
       ...
       'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574',
       'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601'],
      dtype='object', length=154)

In [22]:
list(results_df.columns)

['otu_id',
 'BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [38]:
results = session.query(samples).statement
results_df = pd.read_sql_query(sql =results, con= session.bind, index_col= 'otu_id')
print(results_df)

        BB_940  BB_941  BB_943  BB_944  BB_945  BB_946  BB_947  BB_948  \
otu_id
1            0       0       0       0       0       0       0       0
2            0       0       0       0       0       0       0       0
3            0       0       0       0       0       0       0       0
4            0       0       0       0       0       0       0       0
5            0       0       0       0       0       0       0       0
6            0       0       0       0       0       0       0       0
7            0       0       0       0       0       0       0       0
8            0       0       0       0       0       0       0       0
9            0       0       0       0       0       1       0       0
10           0       0       0       0       0       0       0       0
11           1       0       0       0       0       0       0       1
12           0       0       0       0       0       0       0       0
13           0       0       0       0       0       0       0       0
14           0       0       0       0       0       0       0       0
15           0       0       0       0       0       0       0       0
16           0       0       0       0       0       0       0       0
17           0       0       0       0       0       0       0       0
18           0       0       0       0       0       2       1       0
19           1       0       0       0       0       0       0       0
20           0       0       0       0       0       0       0       0
21           0       0       0       0       0       0       0       0
22           1       0       0       0       0       0       0       0
23           0       0       0       0       0       0       0       0
24           1       0       0       0       0       0       0       0
25           0       0       0       0       0       0       0       0
26           0       0       0       0       0       0       0       0
27           0       0       0       0       0       0       0       0
28           0       0       0       0       0       0       0       0
29           0       0       0       0       0       0       0       0
30           0       0       0       0       0       0       0       0
...        ...     ...     ...     ...     ...     ...     ...     ...
3645         0       0       0       0       0       0       0       0
3646         0       0       0       0       0       0       0       0
3647         0       0       0       0       0       0       0       0
3648         0       0       0       0       0       0       0       0
3649         0       0       0       0       0       0       0       0
3650         0       0       0       0       0       0       0       0
3651         0       0       0       0       0       0       0       0
3652         0       0       0       0       0       0       0       0
3653         0       0       0       0       0       0       0       0
3654         0       0       0       0       0       0       0       0
3655         0       0       0       0       0       0       0       0
3656         0       0       0       0       0       0       0       0
3657         0       0       0       0       0       0       0       0
3658         0       0       0       0       0       0       0       0
3659         0       0       0       0       0       0       0       0
3660         0       0       0       0       0       0       0       0
3661         0       0       0       0       0       0       0       0
3662         0       0       0       0       0       0       0       0
3663         0       0       0       0       0       0       0       0
3664         0       0       0       0       0       0       0       0
3665         0       0       0       0       0       0       0       0
3666         0       0       0       0       0       0       0       0
3667         0       0       0       0       0       1       0       0
3668         0       0       0       0       0       0       0       0
3669         0       0       0       0       0       0       0       0
3670         0       0       0       0       0       0       0       0
3671         0       0       0       0       0       0       0       0
3672         0       0       0       0       0       0       0       0
3673         0       0       0       0       0       0       0       0
3674         0       0       0       0       0       0       0       0

        BB_949  BB_950   ...     BB_1562  BB_1563  BB_1564  BB_1572  BB_1573  \
otu_id                   ...
1            0       0   ...           0        0        0        0        0
2            0       0   ...           0        0        0        0        0
3            0       0   ...           0        0        0        0        0
4            0       0   ...           0        0        0        0        0
5            0       0   ...           0        0        0        0        0
6            0       0   ...           0        0        0        0        0
7            0       0   ...           0        0        0        0        0
8            0       0   ...           0        0        1        0        0
9            0       0   ...           0        0        0        0        0
10           0       0   ...           0        0        0        0        0
11           0       0   ...           0        0        0        0        0
12           0       0   ...           0        0        0        0        0
13           0       0   ...           0        0        0        0        0
14           0       0   ...           0        0        0        0        0
15           0       0   ...           0        0        0        0        0
16           0       0   ...           0        0        0        0        0
17           0       0   ...           0        0        0        0        0
18           0       0   ...           0        0        0        0        0
19           0       0   ...           0        0        0        0        0
20           0       0   ...           0        0        0        0        0
21           0       0   ...           0        0        0        0        0
22           0       0   ...           0        0        0        0        0
23           0       0   ...           0        0        0        0        0
24           0       0   ...           0        0        0        0        0
25           0       0   ...           0        0        0        0        0
26           0       0   ...           0        0        0        0        0
27           0       0   ...           0        0        0        0        0
28           0       0   ...           0        0        0        0        0
29           0       0   ...           0        0        0        0        0
30           0       0   ...           0        0        0        0        0
...        ...     ...   ...         ...      ...      ...      ...      ...
3645         0       0   ...           0        0        0        0        0
3646         0       0   ...           0        0        0        0        0
3647         0       0   ...           0        0        0        0        0
3648         0       0   ...           0        0        0        0        0
3649         0       0   ...           0        0        0        0        0
3650         0       0   ...           0        0        0        0        0
3651         0       0   ...           0        0        0        0        0
3652         0       0   ...           0        0        0        0        0
3653         0       0   ...           0        0        0        0        0
3654         0       0   ...           0        0        0        0        0
3655         0       0   ...           0        0        0        1        0
3656         0       0   ...           0        0        0        0        0
3657         0       0   ...           0        0        0        1        0
3658         0       0   ...           0        0        0        0        0
3659         0       0   ...           0        0        0        2        0
3660         0       0   ...           0        0        0        3        0
3661         0       0   ...           0        0        0        0        0
3662         0       0   ...           0        0        0        0        0
3663         0       0   ...           0        0        0        0        0
3664         0       0   ...           0        0        0        0        0
3665         0       0   ...           0        0        0        0        0
3666         0       0   ...           0        0        0        0        0
3667         0       0   ...           0        0        0        0        0
3668         0       0   ...           0        0        0        0        0
3669         0       0   ...           0        0        0        0        0
3670         0       0   ...           0        0        0        0        0
3671         0       0   ...           0        0        0        0        0
3672         0       0   ...           0        0        0        0        0
3673         0       0   ...           0        0        0        0        0
3674         0       0   ...           0        0        0        0        0

        BB_1574  BB_1576  BB_1577  BB_1581  BB_1601
otu_id
1             0        0        0        0        0
2             0        0        0        0        0
3             0        0        0        0        0
4             0        0        0        0        0
5             0        0        0        0        0
6             0        0        0        0        0
7             0        0        0        0        0
8             0        0        0        0        0
9             0        0        0        0        0
10            0        0        0        0        0
11            0        0        0        0        0
12            0        0        0        0        0
13            0        0        0        0        0
14            0        0        0        0        0
15            0        0        0        0        0
16            0        0        0        0        0
17            0        0        0        0        0
18            0        0        0        0        0
19            0        0        0        0        0
20            0        0        0        0        0
21            0        0        0        0        0
22            0        0        0        0        0
23            0        0        0        0        0
24            1        0        0        0        0
25            0        0        0        0        0
26            0        0        0        0        0
27            0        0        0        0        0
28            0        0        0        0        0
29            0        0        0        0        0
30            0        0        0        0        0
...         ...      ...      ...      ...      ...
3645          0        0        0        0        0
3646          0        0        0        0        0
3647          0        0        0        0        0
3648          0        0        0        0        0
3649          0        0        0        0        0
3650          0        0        0        0        0
3651          0        0        0        0        0
3652          0        0        0        0        0
3653          0        0        0        0        0
3654          0        0        0        0        0
3655          0        0        0        0        0
3656          0        0        0        0        0
3657          0        0        0        0        0
3658          0        0        0        0        0
3659          0        0        0        0        0
3660          0        0        0        0        0
3661          0        0        0        0        0
3662          0        0        0        0        0
3663          0        0        0        0        0
3664          0        0        0        0        0
3665          0        0        0        0        0
3666          0        0        0        0        0
3667          0        0        0        0        0
3668          0        0        0        0        0
3669          0        0        0        0        0
3670          0        1        0        0        0
3671          0        0        0        0        0
3672          0      138        0        0        0
3673          0        0        0        0        0
3674          0        0        0        0        0

[3674 rows x 153 columns]

In [48]:

results = session.query(otu).statement

In [49]:
print (results)

SELECT otu.otu_id, otu.lowest_taxonomic_unit_found
FROM otu

In [42]:
for col in otu.__table__.columns: 
    print ("col: " + col.description)

col: otu_id
col: lowest_taxonomic_unit_found

In [14]:
def metadata(sample):
    #if request.method == 'POST':
    results = session.query(samples_metadata.AGE, samples_metadata.BBTYPE, samples_metadata.ETHNICITY, 
    samples_metadata.GENDER, samples_metadata.LOCATION, samples_metadata.SAMPLEID).filter(samples_metadata.SAMPLEID == sample).all()
    print (results)
    metadata_dict_response={}

    for result in results: 
        metadata_dict_response["AGE"] = result[0]
        metadata_dict_response["BBTYPE"] = result[1]
        metadata_dict_response["ETHNICITY"] = result[2]
        metadata_dict_response["GENDER"] = result[3]
        metadata_dict_response["LOCATION"] =  result[4]
        metadata_dict_response["SAMPLEID"] = result[5]
    #print(metadata_dict_response)

In [15]:
print(metadata("BB_940"))

[]
None